@import 'src/assets/scss/bootstrap_override';

.beer-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.beer-button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: $secondary;
  &:hover {
    transform: scale(1.1);
    background-color: darken($secondary, 15%);
  }
}
