@import 'src/assets/scss/bootstrap_override';

.beer-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &,
  &-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.beer-button {
  transition: all 0.2s ease-in-out;
  background-color: $secondary;
  &:hover {
    transform: scale(1.1);
    background-color: darken($secondary, 15%);
  }
}
